* {
    margin: 0 auto;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
}

.admin_table {
    border-collapse: collapse;
    margin-top: 10px;            
}
td, th {
    border: 1px solid grey;
    padding: 5px;
}
th {
    background-color: #EEEEEE;
}

.consolidate {
    margin-bottom: 0;
}

form {
    display: inline-block;            
}
a {
    margin-right: 5px;
}

.container_admin {
     text-align: center;
     margin: 40px auto;
}

.container_admin h2 {
    margin-bottom: 10px;
}